@import url('https://fonts.googleapis.com/css2?family-Chakra+Petch:w ght@400:700&display=swap');

:root {
        --cor-de-fundo: #0C4C51;
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-inativo: rgba(58, 55, 94, 0.5);
    --texto-fundo: rgba(58, 55, 94, 0.3);
}

body {
    background-color: #0C4C51;
    color: #FFFFFF;
    font-family: 'Chakra Petch',sans-serif;

}